// CSS declarations go here

@lightblue: #7aa6da;

h1 {
  font-family: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

#activities {
  font-family: 'PragmataPro', 'Pragmata', 'Monaco', monospace;
  background-color: lighten(@lightblue, 10%);
  height: 100%;
  margin-left: 10%;
  width: 20%;
  min-height: 800px;
}
